div#content{

	section.produto{
		padding-top:80px;
		padding-bottom:60px;
		background-color:#FFF;
		text-align:center;

		.box{
			border:1px solid #e3e3e3;
			padding-bottom:20px;
			border-top:8px solid #ffba00;

			img{

			}
		}

		.col-md-4{
			margin-bottom:20px;
		}

		h3{
			margin-top:20px;
			padding:0 15px;
		}

		hr{
			border-top:2px solid #61235f;
			width:20%;
		}

		p{
			font-size:16px;
			padding:10px 15px;
			line-height:1.6;
			color:#abb1b8;
		}

	}

	section#sobre{
		padding:160px 0;
		background-image: url("images/background2.jpg");
	    -webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center top;
	    background-color: #202020;
	    background-attachment: fixed;
	    color:#FFF;
	    text-align:left;

		h1{
			color:#FFF;
			margin-bottom:25px;
		}

		p{
			font-size:16px;
			color:#FFF;
			line-height:1.7;
		}


		img{
			margin-bottom:20px;
		}
	}

	section#contato{
		padding-bottom:80px;
		background-color:#FFF;

		h3{
			margin-bottom:10px;
		}

		.fone{
			font-size:28px;
		}
	}
}
@media (max-width: 991px) {
	section#sobre{
	    -webkit-background-size: auto !important;
		-moz-background-size: auto !important;
		-o-background-size: auto !important;
		background-size: auto !important;
		background-position: -300px top !important;
	}

}

@media (min-width: 992px) {  
  
}
